/* PoolVolumeCalculator.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main h1 {
    font-size: 40px !important;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}

.calculatorContainer {
    max-width: 100%;
    margin: 20px 0px;
    padding: 20px;
    background: #ffff;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}


.calculator-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.mainImg {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainImg h1 {
    font-size: 30px !important;
    font-family: 'Playfair Display', serif;
}

.calcImage {
    width: 90% !important;
    height: auto !important;
}



.calcImage img {
    width: 90%;
    height: auto;
}


.calculatormain {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start !important;
    flex-direction: column;
    background-color: #fff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    padding: 20px;

    gap: 15px;
}

.mainlable {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.formlabel {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    /* font-size: 16px;
    color: #555; */
    flex-direction: column;
    text-align: start;

}


.formlabel p {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.formInput {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.formInput:focus {
    outline: none;
    border: 1px solid #007bff;
}

.calculateButton {
    padding: 12px 20px;
    background-color: #2967b3;
    color: #fff;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Playfair Display', serif;
}

.calculateButton:hover {
    background-color: #25b4cf;
}

.resultText {
    width: 300px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2967b3;
    font-size: 18px;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-family: serif;
    border: none;

}

.resultText p {
    font-size: 30px;
}

.resultText strong {

    font-size: 40px;
}

.navMenu {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-bottom: 20px;
}

.navButton {
    padding: 0px 0px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;


}

.Img1 {
    width: 75px;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;

}



.Img1 img {
    width: 100%;
    height: auto;
}



.Img2 {
    width: 75px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.Img2 img {
    width: 78%;
    height: auto;
}

.navButton:hover {
    /* background-color: #2967b3; */
}

.activeButton {
    background-color: #fff;
    color: white;
}




@media (max-width: 1024px) {


    .mainImg {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



    .calculatormain {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start !important;
        flex-direction: column;
        background-color: #fff;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        border-radius: 5px;
        padding: 20px;

        gap: 15px;
    }



    .resultText {
        width: 40%;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #2967b3;
        font-size: 18px;
        border-radius: 5px;
        padding: 20px;
        color: #fff;
        font-family: serif;
        border: none;

    }



}


@media (max-width: 968px) {

    .calculatorContainer {
        max-width: 100%;
        margin: 20px 0px;
        padding: 20px;
        background: #ffff;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column !important;
    }




    .resultText {
        width: 70%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #2967b3;
        font-size: 18px;
        border-radius: 5px;
        padding: 20px;
        color: #fff;
        font-family: serif;
        border: none;

    }


}

@media (max-width: 768px) {


    .main h1 {
        font-size: 34px !important;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        margin-bottom: 40px;
    }
    

    .calculator-container {

        padding: 15px;
    }

    .calculator-title {
        font-size: 20px;
    }

    .form-input {
        font-size: 14px;
    }

    .calculate-button {
        font-size: 14px;
    }



    .calculatorContainer {
        max-width: 100%;
        margin: 20px 0px;
        padding: 20px;
        background: #ffff;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column !important;
    }


    .mainImg {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



    .calculatormain {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start !important;
        flex-direction: column;
        background-color: #fff;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        border-radius: 5px;
        padding: 20px;

        gap: 15px;
    }



    .resultText {
        width: 70%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #2967b3;
        font-size: 18px;
        border-radius: 5px;
        padding: 20px;
        color: #fff;
        font-family: serif;
        border: none;

    }

}


@media (max-width: 545px) {

    
.main h1 {
    font-size: 30px !important;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}


    .calculatorContainer {
        max-width: 100%;
        margin: 20px 0px;
        padding: 20px;
        background: #ffff;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .mainImg {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .navMenu {
        width: 70%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }


    .Img1 {
        width: 45px;
        min-height: 100%;
    }

    .Img1 img {
        width: 100%;
        height: 100%;
    }



    .Img2 {
        width: 35px;
        min-height: 100%;
    }

    .Img2 img {
        width: 100%;
        height: 100%;
    }


    .formlabel p {
        font-size: 10px;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        margin: 0px 0px 5px 0px;
    }


    .calculatormain {
        width: 98%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start !important;
        flex-direction: column;
        background-color: #fff;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        border-radius: 5px;
        padding: 20px;

        gap: 15px;
    }



    .resultText {
        width: 85%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #2967b3;
        font-size: 1px;
        border-radius: 5px;
        padding: 20px;
        color: #fff;
        font-family: serif;
        border: none;
        margin-left: -20px;

    }


    .resultText p {
        font-size: 26px;
        margin: 0px;
    }

    .resultText strong {

        font-size: 37px;
        margin: 0px;
    }

}