body {
  margin: 0px;
  padding: 0px;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.submain {
  width: 80%;
  height: auto;
}


.submain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 15px;
}


.getIn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.getIn h1 {
  font-weight: 700;
  font-size: 45px;
  font-family: 'Playfair Display', serif;

}

.contactus {
  width: 100%;
  height: 170px;

  border-radius: 15px;
  padding: 15px;
  border: 1px solid rgb(66, 204, 242);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  line-height: 26px;
  background-color: #ccc;
  position: relative;
}

.contacticon {
  width: 53px;
  height: auto;
  position: absolute;
  top: -20%;
  left: 40%;
  z-index: 1000;
  background-color: #2867b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  padding: 10px 0px;
  transition: all 0.35s;
}


.contacticon img {
  width: 80%;
  height: 80%;
  z-index: 1000;
  object-fit: contain;
}

.contactus h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  /* font-family: 'Merriweather'; */
  font-size: 22px;



}

.contactus a {
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.contactus a:hover {
  color: #20a7c5;
}





.address {
  width: 100%;
  height: 170px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid rgb(66, 204, 242);

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  line-height: 26px;
  background-color: #ccc;
  position: relative;
 
}


.contacticon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -17%;
  left: 50%;
  margin-left: -24px;
  z-index: 1000;
  background-color: #2867b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  padding: 10px 0px;
  transition: all 0.35s;
}


.address img {
  width: 80%;
  height: 80%;
  z-index: 1000;
  object-fit: contain;
}

.address h1 {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  /* font-family: 'Merriweather'; */
  font-size: 22px;



}

.address a {
  text-decoration: none;
  font-size: 13px;
  line-height: 19px;
  
}

.address a:hover{

  color: #20a7c5;

}



@media (max-width: 868px) {

  .submain{
    width: 90%;
  }

  .getIn h1 {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Playfair Display', serif;

  }


.contacticon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -15%;
  left: 50%;
  margin-left: -24px;
  z-index: 1000;
  background-color: #2867b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  padding: 10px 0px;
  transition: all 0.35s;
} 



  .contactus {
    width: 100%;
    min-height: 160px !important;
  }

  .address {

    width: 100%;
    min-height: 160px !important;
  }

  .contactus a {
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
  }

  .contactus a:hover {
    color: #20a7c5;
  }


  
.contactus h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 20px;



}

  .address h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    


  }

  .address a {
    text-decoration: none;
    font-size: 10px;
  }


}




@media (max-width: 768px) {


  .getIn h1 {
    font-weight: 700;
    font-size: 34px;
    font-family: 'Playfair Display', serif;

  }


  .contactus {
    width: 70%;

  }


  /*   

.contacticon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -24px;
  z-index: 1000;
  background-color: #2867b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  padding: 10px 0px;
  transition: all 0.35s;
} */


  .contactus a {
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
  }

  .contactus a:hover {
    color: #20a7c5;
  }





  .address {
    width: 70%;

  }

  .address h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Merriweather'; */
    font-size: 20px;

  }

  .address a {
    text-decoration: none;
    font-size: 11px;
  }


}




@media (max-width: 545px) {


  .getIn h1 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Playfair Display', serif;

  }


  /*   

.contacticon {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -24px;
  z-index: 1000;
  background-color: #2867b3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  padding: 10px 0px;
  transition: all 0.35s;
} */


  .contactus {
    width: 95%;

  }

  .contactus a {
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
  }

  .contactus a:hover {
    color: #20a7c5;
  }


  .address {
    width: 95%;
  }

  .address h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Merriweather'; */
    font-size: 20px;



  }

  .address a {
    text-decoration: none;
    font-size: 11px;
  }


}