body {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    padding: 30px 0px 0px 0px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) -27px 25px 20px 27px !important;
}

.submain {
    width: 95%;
    height: auto;
}


.footerContainer {
    padding: 0px 0;
}

.footerContainer1 {
    display: none !important;
    padding: 0px 0;
}


.footerItem {
    margin-bottom: 10px;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerlogo img {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.footerItem ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.footerItem ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    line-height: 45px !important;

}

.footerItem ul li span {
    display: flex;
    align-items: start !important;
    text-decoration: none;
    color: #000;

}

.footerItem ul li img {
    margin-right: 10px;
}

.footerItem ul li p {
    margin: 0;
    font-size: 13px;
    color: #000;
    line-height: 30px;
}

.footerItem ul li a p {
    color: #000;
}


.footerItem ul li a p:hover {
    color: #51c7e1 !important;
}

.footerItem ul li a {
    text-decoration: none;
    text-decoration: none;
    color: #000;


}

.footerItem ul li a:hover {
    color: #51c7e1 !important;

}

.privacy {

    font-size: 14px;
    color: #2967b3;
}


.privacy:hover {

    color: #51c7e1;

}


.copyright {
    color: #000;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copyright span a {
    color: #000;
    letter-spacing: 1px;
    text-align: start;
    text-decoration: none;
    font-family: 'Merriweather';
    font-size: 12px;

}



.copyright span a:hover {
    color: #25b4cf;
}



@media (max-width: 1000px) {

    .footerItem {
        width: 30%;
    }

}





@media (max-width: 768px) {

    .footerItem {
        width: 100%;
        text-align: center;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footerItem ul {
        width: 100%;
        display: flex;
        align-items: start;
        text-align: start;
        justify-content: space-around !important;
        margin: 0px;
    }

    .footerItem ul li span {
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .footerItem ul li p {
        flex-wrap: wrap;
        font-size: 10px;
        line-height: 21px;
    }

    .footerItem ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 25px;
    }

    .footerItem ul li span {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: start;
        line-height: 30px;
    }

    .copyright {
        color: #000;
        width: 93%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }


}

@media (max-width: 550px) {

    .submain {
        width: 82%;
    }

    .footerContainer {
        padding: 0px 0;
        display: none !important;
    }

    .footerContainer1 {
        display: block !important;
        padding: 0px 0;

    }

    .footerItem {
        width: 85%;
        text-align: center;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .footerItem ul {
        width: 100% !important;
        display: flex;
        align-items: start;
        text-align: center;
        justify-content: center !important;
        /* margin-top: 20px; */
        flex-direction: column;
    }

    .footerItem ul li span {
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .footerItem ul li span a {
        text-align: start;
    }


    .footerItem ul li p {
        flex-wrap: wrap;
        font-size: 11px;
    }

    .footerItem ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 30px;
        margin-bottom: 13px;
    }

    .footerItem ul li span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        line-height: 30px;
    }



    .copyright {
        color: #000;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .copyright span a {
        color: #000;
        letter-spacing: 1px;
        text-align: start;
        text-decoration: none;
        font-family: 'Merriweather';
        font-size: 10px;

    }


    .footerItem ul li span a p {

        line-height: 25px;

    }


}



@media (max-width: 450px) {



    .submain {
        width: 82%;
    }


    .footerItem {
        width: 100%;
        text-align: center;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .footerItem ul {
        width: 48%;
        display: flex;
        align-items: start;
        text-align: center;
        justify-content: center !important;
        margin: 0px;
        flex-direction: column;
    }


    .footerItem ul li span {
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .footerItem ul li span a {
        text-align: start;
    }


    .footerItem ul li p {
        flex-wrap: wrap;
        font-size: 10px;
    }

    .footerItem ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 30px;
    }

    .footerItem ul li span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        line-height: 30px;
    }



    .copyright {
        color: #000;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .copyright span a {
        color: #000;
        letter-spacing: 1px;
        text-align: start;
        text-decoration: none;
        font-family: 'Merriweather';
        font-size: 10px;

    }



}


@media (max-width: 350px) {

    .footerItem ul li p {
        flex-wrap: wrap;
        font-size: 8px;
    }

    .copyright span a {
        color: #000;
        letter-spacing: 1px;
        text-align: start;
        text-decoration: none;
        font-family: 'Merriweather';
        font-size: 8px;

    }

}

