body {
    margin: 0px;
    height: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
}

.arrowscroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.35s ease, transform 0.35s ease;
}

.smoothShow {
    opacity: 1;
    transform: translateY(0);
}

.arrow1 {
    font-size: 20px;
    color: #000;
}


.arrow1 {
    width: 47px;
    height: 47px;
    background-color: #2967b3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;

}

.arrow1:hover {
    background-color: #2967b3;
}


.icon1hover p {
    font-size: 12px;
    margin: 0px;
    color: #fff;
}



.header {
    width: 100%;
    height: auto;
}


.headermain {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 0px 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -27px;
    backdrop-filter: blur(0px);
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.headermain.scrolled {
    background-color: #fff;
    padding: 3px 24px 0px 0px !important;
}


.header-logo {
    width: 40%;
}

.headerLogo {
    width: 200px !important;
    height: 95px;
}

.headerLogo2 {
    width: 170px !important;
    height: 75px;
    display: none !important;
}

.headerLogo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.headerContents {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;


}

.headerContents ul {
    font-family: 'Fjalla One';
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.headerContents ul li {
    color: #000;
    border-bottom: 2px solid #ffffff00;
    cursor: pointer;
    transition: all 0.40s;
    list-style: none;
    text-decoration: none;
}

.headerContents ul li:hover {
    border-bottom: 2px solid #2967b3;
}

.headerActive {
    border-bottom: 2px solid #2967b3 !important;
}


.headerContents button {
    color: #fff;
    width: 158px;
    padding: 19px 10px;
    font-family: "Fjalla One", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    background-color: #2967b3;
    border: none;
    cursor: pointer;
    transition: all 0.30s;

}


.headerContents button:hover {
    background-color: #25b4cf;

}


.bgimg {
    height: 100vh;
    min-height: 850px;
    object-fit: cover;
}

.hamburger {
    width: 35px;
    height: 35px;
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
    height: 100%;
}

.headerContents.menuOpen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.65s ease;
   
}

.headerContents {
    transition: height 0.65s ease, opacity 0.65s ease, padding 0.65s ease;
}



.headerContents.menuOpen ul {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}



.menuOpen {
    transform: translateX(0);
}


.closeButton {
    position: absolute;
    top: 27px;
    right: 45px;
    cursor: pointer;
    width: 20px;
    height: auto;
}

.closeButton img {
    width: 100%;
    height: 100%;
}

.scrolled {
    background-color: #000;
}



.pooltxt {
    width: 58%;
    position: absolute;
    top: 35%;
    left: 75px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    color: #fff;
}

.pooltxt h1 {
    font-size: 60px !important;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
}

.poolchild {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.poolsubchild {
    width: 70%;
    margin: 0px;
    color: #51c7e1;
    font-family: "Fjalla One", sans-serif;

}

.poolsubchild::before {
    position: absolute;
    top: 8px;
    left: 20px;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #51c7e1;
}


.pooltxt :nth-child(3) {
    margin-left: 123px;
    margin-top: 40px;
    line-height: 25px;
}


.pooltxt.hide {
    opacity: 0;
}

.pooltxt.show {
    opacity: 1;

}





@media (max-width: 1024px) {


    .poolchild {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .poolsubchild {
        width: 56%;
        margin: 0px;
        color: #25b4cf;
        font-family: "Fjalla One", sans-serif;

    }

    .poolsubchild::before {
        position: absolute;
        top: 8px;
        left: 20px;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #25b4cf;
    }



    .pooltxt {
        width: 48%;
    }

    .pooltxt h1 {
        font-size: 40px !important;
        font-weight: 800;
        font-family: 'Playfair Display', serif;
    }


    .pooltxt :nth-child(3) {

        font-size: 13px;

    }


}


@media (max-width: 940px) {



    .arrowscroll {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 87%;
        right: 30px;
        z-index: 1000;

    }

    .poolchild {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .poolsubchild {
        width: 50%;
        margin: 0px;
        color: #25b4cf;
        font-family: "Fjalla One", sans-serif;

    }

    .poolsubchild::before {
        position: absolute;
        top: 8px;
        left: 20px;
        content: '';
        width: 60px;
        height: 3px;
        background-color: #25b4cf;
    }



    .headerContents {
        width: 70%;
    }



    .headerContents button {
        /* font-family: 'Fjalla One'; */
        color: #fff;
        width: 148px;
        padding: 15px 10px;
        font-family: "Fjalla One", sans-serif;
        font-size: 10px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        background-color: #2967b3;
        border: none;
        cursor: pointer;
        transition: all 0.30s;

    }

}



@media (max-width: 786px) {

    .headermain {
        width: 100%;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: space-between;
        padding: 0px 24px;
        background-color: #fff;
        backdrop-filter: blur(0px);
        position: fixed;
        top: 0;
        z-index: 10000;
        transition: background-color 0.3s ease;
        box-sizing: border-box;
    }

    .headerContents {
        display: none;
    }

 

    .headerContents.menuOpen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 100vh;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: height 0.65s ease;

    }



    .headerContents ul {
        font-family: 'Fjalla One';
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin: 0px;
        padding: 0px;
        color: #000;
    }

    .headerContents ul li {
        color: #000;
    }


    .headerContents input {
        width: 70%;
        display: block;

    }

    .bgimg {
        height: 100vh;
        min-height: 730px;
        padding-bottom: 20px;
        object-fit: cover;
    }



    .hamburger {
        width: 30px;
        height: 30px;
        display: block;
    }

    .hamburger img {
        width: 100%;
        height: 100%;
    }

    .pooltxt {
        width: 69%;
    }

    .pooltxt h1 {
        font-size: 35px !important;
        font-weight: 800;
        font-family: 'Playfair Display', serif;
    }


    .pooltxt :nth-child(3) {

        font-size: 10px !important;

    }


}



@media (max-width: 546px) {

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;

    }


    .headermain {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px 0px 0px;
        background-color: #fff;
        backdrop-filter: blur(0px);
        position: fixed;
        top: -2px;
        z-index: 10000;
        transition: background-color 0.3s ease;
    }



    .headerContents.menuOpen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #fff;
        height: 100vh;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.65s;
    }



    .headerContents ul {
        font-family: 'Fjalla One';
        width: 57%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        margin: 0px;
        padding: 0px;
        color: #fff;

    }


    .headerContents ul a {
        font-size: 20px;
    }



    .headerContents ul a:hover {
        color: #2967b3;
    }


    .headerLogo {
        width: 140px !important;
        height: 55px;
        display: block !important;
    }

    .headerLogo2 {
        width: 170px !important;
        height: 75px;
        display: block !important;
    }


    .headerLogo2 img {
        width: 100%;
        height: 100%;
    }



    .hicon1 {
        width: 40px;
        height: 40px;
        background-color: #2967b3;
        color: #fff;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
        font-size: 16px;
        transition: transform 0.35s, background-color 0.35s;
    }


    .poolchild {
        width: 100%;
    }

    .poolsubchild {
        width: 42%;
        margin: 0px;
        color: #25b4cf;
        font-family: "Fjalla One", sans-serif;

    }

    .poolsubchild::before {
        position: absolute;
        top: 5px;
        left: 10px;
        content: '';
        width: 40px;
        height: 2px;
        background-color: #25b4cf;
    }

    .poolsubchild p {
        font-size: 9px;
        margin: 0px;
    }


    .pooltxt {
        width: 60%;
        position: absolute;
        top: 34%;
        left: 15px;
        opacity: 1;
        transition: opacity 1s ease-in-out;
        color: #fff;
    }

    .pooltxt h1 {
        font-size: 20px !important;
        font-weight: 800;
        font-family: 'Playfair Display', serif;
    }


    .pooltxt :nth-child(3) {
        width: 76%;
        margin-left: 50px;
        margin-top: 4px;
        line-height: 12px;
        font-size: 5px !important;
    }


    .bgimg {
        height: 49vh;
        min-height: 300px !important;
        object-fit: cover;

    }

    
    .headerContents input {
        width: 56% !important;
        display: block;

    }


}




@media (max-width: 350px) {





    .headerContents.menuOpen {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #fff;
        height: 100vh;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.65s;
    }


    .headerContents ul {
        line-height: 15px;
    }

    .headerContents ul a {
        font-size: 15px;
    }


    .headerContents button {

        font-size: 8px;
        width: 116px;
        margin-bottom: 60px;
    }



    .poolsubchild {
        width: 49% !important;
        margin: 0px;
        color: #25b4cf;
        font-family: "Fjalla One", sans-serif;

    }

    .poolsubchild::before {
        position: absolute;
        top: 5px;
        left: 10px;
        content: '';
        width: 30px;
        height: 2px;
        background-color: #25b4cf;
    }

    .poolsubchild p {
        font-size: 7px;
        margin: 0px;
    }

    .pooltxt {
        width: 58%;
        position: absolute;
        top: 21%;
        left: 33px;
        opacity: 1;
        transition: opacity 1s ease-in-out;
        color: #fff;
    }


    .pooltxt h1 {
        font-size: 17px !important;
    }


    .closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 20px;
        height: auto;
    }


    .headerContents input {
        width: 60% !important;
        display: block;

    }



}