body {
    margin: 0px;
    padding: 0px;
}



main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.submain {
    width: 80%;
    height: auto;
    padding: 50px 0px;
}

.tableheading {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}



.tableheading h1 {
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    color: #000;
    font-size: 45px;

}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}




th, td:hover {
    background-color: #a6a6a6;
    transition: all 0.35s;
    color: #fff;
}


.tableWrapper {
    width: 90%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableWrapper img {
    width: 30%;
    height: 30%;
}

.projectsub {
    width: 98%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectsub img {

    width: 100%;
    height: 60vh;
    object-fit: cover;
}





@media (max-width: 760px) {

    th,
    td {
        font-size: 0.9rem;
        padding: 10px;
    }

    .tableheading h1 {
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        color: #000;
        font-size: 30px;

    }


}



@media (max-width: 540px) {



    .tableWrapper {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }


    .tableheading h1 {
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        color: #000;
        font-size: 25px !important;

    }


    .tableWrapper img {
        display: none;
    }


    th, td {
    font-size: 12px;
    }


}



@media (max-width: 450px) {


    table {
        width: 490px;
    }

    .tableheading h1 {
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        color: #000;
        font-size: 17px;

    }


}