body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px 0px 40px 0px;
}



.submain {
    width: 80%;
    height: auto;
}

.serviceheading {
    padding: 50px 0px;
}

.serviceheading h1 {
    font-family: 'Playfair Display', serif;
    font-size: 57px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #000;
}

.newpool p {
    font-family: 'Fjalla One';
    margin-top: 18px;
    letter-spacing: 1px;
}

.newpool p:hover {
    color: #2967b3;
}


.newpool {
    width: 70px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newpool p {
    font-size: 14px;
}

.newpool img {
    width: 100%;
    height: 100%;
}

.mainicons {
    width: 74%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px;
}

.stxt1 p {
    width: 95%;
    font-weight: 800;
    color: #000;
    line-height: 35px;
    font-size: 18px;
    text-align: right;
    font-family: 'Playfair Display', serif;

}



.stxt2 p {
    width: 93%;
    color: #2a2d32;
    line-height: 30px;
    font-size: 15px;
    text-align: left;
    font-family: 'Playfair Display', serif;
}



.stxt3 p {
    width: 93%;
    color: #2a2d32;
    line-height: 30px;
    font-size: 15px;
    text-align: left;
    font-family: 'Playfair Display', serif;
}




.servicebtn {
    width: 200px;
    height: 70px;
    border: none;
    background-color: #2967b3;
    color: #fff;
    padding: 10px;
    margin-top: 80px;
    font-family: 'Fjalla One';


}

.servicebtn:hover {
 
    background-color: #25b4cf;

}


@media (max-width: 950px) {


    .serviceheading h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }


    .newpool {
        width: 70px;
    }


    .newpool p {

        font-size: 13px;
    }


    .newpool img {
        width: 100%;
        height: 100%;
    }



    .stxt1 p {
        width: 98%;
        font-weight: 700;
        font-size: 13px;
        line-height: 32px;


    }


    .stxt2 p {
        width: 100%;
        font-size: 13px;
        line-height: 23px;

    }



    .stxt3 p {
        width: 100%;
        /* margin: -15px 0px; */
        font-size: 14px;
        line-height: 23px;
    }


}


@media (max-width: 768px) {


    .serviceheading h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }


    .newpool {
        width: 70px;
    }


    .newpool p {

        font-size: 13px;
    }


    .newpool img {
        width: 100%;
        height: 100%;
    }

    .mainicons {
        gap: 70px;
    }


    .stxt1 p {
        width: 98%;
        font-weight: 700;
        font-size: 13px;
        line-height: 23px;


    }


    .stxt2 p {
        width: 100%;
        font-size: 13px;
        line-height: 23px;

    }



    .stxt3 p {
        width: 100%;
        margin: -15px 0px;
        font-size: 13px;
        line-height: 23px;
    }


}



@media (max-width: 546px) {



    .main {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f7f7;
        padding: 0px 0px 60px 0px;
    }


    .serviceheading {
        font-size: 29px;
        padding: 50px 0px 0px 0px;
    }



    .mainicons {
        width: 79%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }


    .newpool {
        width: 70px;
        height: auto;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }


    .stxt1 p {
        width: 93%;
        font-weight: 800;
        color: #000;
        line-height: 30px;
        font-size: 14px;
        text-align: left;
        font-family: 'Playfair Display', serif;

    }



    .stxt2 p {
        width: 100%;
        color: #2a2d32;
        line-height: 24px;
        font-size: 14px;
        text-align: left;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
    }


    .stxt3 p {
        width: 100%;
        color: #2a2d32;
        line-height: 24px;
        font-size: 14px;
        text-align: left;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
    }

    .servicebtn {
        width: 160px;
        height: 75px;
        border: none;
        color: #fff;
        padding: 10px;
        margin-top: 80px;
        font-size: 13px;
        font-family: 'Fjalla One';
    }
}



@media (max-width: 340px) {

    .submain {
        width: 90%;
    }


    
    .mainicons {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }


    .stxt1 p {
        width: 100%;
        font-weight: 700;
        color: #000;
        line-height: 19px !important;
        font-size: 11px !important;
        text-align: right;
        font-family: 'Playfair Display', serif;

    }


    .stxt2 p {
        width: 100%;
        color: #2a2d32;
        line-height: 19px;
        font-size: 13px;
        text-align: left;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
    }


    .stxt3 p {
        width: 100%;
        color: #2a2d32;
        line-height: 22px;
        font-size: 12px;
        text-align: left;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
    }





}